# Weights & Bands API key and settings
WANDB_API_KEY=
WANDB_PROJECT=
WANDB_ENTITY=

# AWS settings
AWS_REGION=us-east-2
AWS_SDK_LOAD_CONFIG=1

# SageMaker Role
AWS_SAGEMAKER_ROLE_ARN=

# AWS configuration - using settings from AWS CLI
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=